1.	Write a Python program to convert kilometers to miles?

In [2]:
km = int(input("kms to entered "))
miles = km*0.621371
print("miles =", miles)

kms to entered 20
miles = 12.42742

2.	Write a Python program to convert Celsius to Fahrenheit

In [3]:
Celsius = int(input("temp in Celsius ="))
Fahrenheit = ((Celsius*9)/5)+32
print ("temp in Fahrenheit=",Fahrenheit)

temp in Celsius =35
temp in Fahrenheit= 95.0

3.	Write a Python program to display calendar?

In [5]:
import calendar
year = 2031
print(calendar.calendar(year))

                                  2031

      January                   February                   March
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2                      1  2
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       3  4  5  6  7  8  9
13 14 15 16 17 18 19      10 11 12 13 14 15 16      10 11 12 13 14 15 16
20 21 22 23 24 25 26      17 18 19 20 21 22 23      17 18 19 20 21 22 23
27 28 29 30 31            24 25 26 27 28            24 25 26 27 28 29 30
                                                    31

       April                      May                       June
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                1  2  3  4                         1
 7  8  9 10 11 12 13       5  6  7  8  9 10 11       2  3  4  5  6  7  8
14 15 16 17 18 19 20      12 13 14 15 16 17 18       9 10 11 12 13 14 15
21 22 23 24 25 26 27      19 20 21 22 23 24 25      16 17 18 19 20 21 22
28 29 30                  26 27 28 29 30 31         23 24 25 26 27 28 29
                                                    30

        July                     August                  September
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
    1  2  3  4  5  6                   1  2  3       1  2  3  4  5  6  7
 7  8  9 10 11 12 13       4  5  6  7  8  9 10       8  9 10 11 12 13 14
14 15 16 17 18 19 20      11 12 13 14 15 16 17      15 16 17 18 19 20 21
21 22 23 24 25 26 27      18 19 20 21 22 23 24      22 23 24 25 26 27 28
28 29 30 31               25 26 27 28 29 30 31      29 30

      October                   November                  December
Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su      Mo Tu We Th Fr Sa Su
       1  2  3  4  5                      1  2       1  2  3  4  5  6  7
 6  7  8  9 10 11 12       3  4  5  6  7  8  9       8  9 10 11 12 13 14
13 14 15 16 17 18 19      10 11 12 13 14 15 16      15 16 17 18 19 20 21
20 21 22 23 24 25 26      17 18 19 20 21 22 23      22 23 24 25 26 27 28
27 28 29 30 31            24 25 26 27 28 29 30      29 30 31

4.	Write a Python program to solve quadratic equation?

In [7]:
a= int(input("a value is "))
b= int(input("b value is "))
c= int(input("a value is "))

import cmath
x = (b**2) - (4 * a*c)
x1 = (-b-cmath.sqrt(x))/(2 * a)
x2 = (-b + cmath.sqrt(x))/(2 * a)
  

print('The roots are',x1,x2)

a value is 23
b value is 33
a value is 43
The roots are (-0.717391304347826-1.1640081330632657j) (-0.717391304347826+1.1640081330632657j)

5.	Write a Python program to swap two variables without temp variable?

In [8]:
a= int(input("this is a a"))
b= int(input("this is a b"))
a=a+b
b=a-b
a=a-b

print("swap numbers are : ", a,b)

this is a a22
this is a b33
swap numbers are :  33 22